<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Discord Auth with Go</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        } 
        </style>
    </head>
    <body>
        <div>
            {{if .UserId}}
            <p>Welcome, <strong>{{.Username}}</strong>!</p> 
            <form action="/api/logout">
                <button type="submit">Logout</button>
            </form>
            {{else}}
            <h1>LOGIN NOW!!!</h1>
            <form action="/api/login">
                <button type="submit">Login</button>
            </form>
            {{end}}
        </div>

    </body>
</html>
